:root {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  --header-color: #032b43;
  --select-color: #ffba08;
  --incorrect-color: #d00000;
  --correct-color: #13703d;
  --main-bg-color: white;
  --header-text-color: white;
  --button-default-color: #032b43;
  --button-next-color: #3f88c5;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: var(--main-bg-color);
}

header {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-container {
  padding: 1em;
  display: block;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  max-width: 600px;
  height: fit-content;
  background-color: white;
  border: 1px solid black;
}

.question-container img {
  height: auto;
  width: 100%;
  height: auto;
}

#submit {
  width: 100%;
}

.options-group {
  width: 100%;
  display: flex;
}

.button {
  padding: 0;
  box-sizing: content-box;
  font-size: 1.5em;
  height: 2.5em;
  line-height: 2.5em;
  flex-grow: 1;
  background-color: var(--button-default-color);
  border: none;
  color: white;
  text-align: center;
  transition: all 0.4s;
  width: 100%;
  border-left: 1px solid white;
}

.button-next {
  background-color: var(--button-next-color);
}

.button input[type="radio"] {
  display: none;
}

.button label {
  display: inline-block;
  width: 100%;
}

.button:has(input[type="radio"]:checked):not(:has(.correct, .incorrect)) {
  background-color: var(--select-color);
  color: black;
}

.button:has(.correct) {
  background-color: var(--correct-color);
}

.button:has(.incorrect) {
  background-color: var(--incorrect-color);
  z-index: 100;
}
